@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color: gold;
}

/* index.css me add karein */
@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slide-in {
  animation: slideIn 0.5s ease-out;
}

.animate-slide-out {
  animation: slideOut 0.5s ease-out;
}

@keyframes progress {
  0% { width: 0%; }
  100% { width: 100%; }
}

.animate-progress {
  animation: progress 2.5s linear infinite;
}